<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.iway">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-feature android:name="android.hardware.camera2" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme">
        <activity android:name=".Util.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Auth.Register"/>
        <activity android:name=".Activity.ShareActivity"/>
        <activity android:name=".Activity.MainActivity"/>
        <activity android:name=".Nav.History"/>
        <activity android:name=".Util.Sample"/>
        <activity android:name=".Auth.Responder"/>
        <activity android:name=".Auth.Login"/>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCyZH-m5e6XasHo2XSjs9ef0G7sX7Hhjj8" />
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
        <service
            android:name="com.project.iway.Service.Service"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

    </application>

</manifest>